<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="#">Shashi Shekhar</a></div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/shashi080195/Angular-JumpStart" target="_blank">https://github.com/shashi080195/Angular-JumpStart</a></div>
            </div>
            <br />
        </div>
    </div>
</div>